@model SuperCodeGirlProjectsWebApp.Models.Project

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Project:</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Upload Image:</label>
                <div class="control-label">
                    <img id="user_img" width="100" />
                </div>
                <input type="file" asp-for="ImageFile" class="form-control no-border no-padding-left" onchange="show(this)" />
                <script type="text/javascript">
                    function show(input) {
                        if (input.files && input.files[0]) {
                            var filereader = new FileReader();
                            filereader.onload = function (e) {
                                $('#user_img').attr('src', e.target.result);
                            }
                            filereader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="IconPath" class="control-label"></label>
                <input asp-for="IconPath" class="form-control" />
                <span asp-validation-for="IconPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyText" class="control-label"></label>
                <input asp-for="BodyText" class="form-control" />
                <span asp-validation-for="BodyText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
